.block-box {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    height: 84vh;
    width: 90vw;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 1;
    backdrop-filter: blur(8px);
    pointer-events: none;
    opacity: 70%;
}

@keyframes color-change {
    0% {
        background-color: rgb(255, 255, 255, 0.4);
    }
    25% {
        background-color: rgba(248, 214, 104, 0.2);
    }
    50% {
        background-color: rgba(117, 194, 253, 0.2);
    }
    75% {
        background-color: rgba(109, 249, 119, 0.2);
    }
    100% {
        background-color: rgb(255, 255, 255, 0.4);
    }
}

.block-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-align: center;
}

.block-count {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-align: center;
    padding: 20px;
    padding-inline: 30px;
    animation: count-down 4s;
}

@keyframes count-down {
    0% {
        background-color: rgb(128, 221, 255);
        border-radius: 50%;
    }
    25% {
        background-color: rgb(138, 255, 157);
        border-radius: 10%;
    }
    50% {
        background-color: rgb(254, 254, 99);
        border-radius: 60%;
    }
    75% {
        background-color: rgb(136, 252, 125);
        border-radius: 40%;
    }
}