.hissheep {
    font-size: 100px;
    color: rgb(255, 221, 120);
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%) rotate(136deg);
}

.his-shoot {
    height: 80px;
    width: 10px;
    background-color: rgb(255, 237, 41);
    position: absolute;
    left: 50%;
    top: 74%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    opacity: 0;
}

.his-expload {
    height: 300px;
    width: 300px;
    background-image: url("../imgs/exploade.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: my-expload 1s;
}

.his-life {
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.his-heart {
    color: red;
    margin: 10px;
    font-size: 30px;
}

.his-shoot-animation {
    opacity: 1;
    animation: his-shoot 0.5s;
}

@keyframes his-shoot {
    0% {
        top: 30%;
    }
    100% {
        top: 80%;
    }
}