.mysheep {
    font-size: 100px;
    color: rgb(95, 176, 252);
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%) rotate(-44deg);
}

.my-shoot {
    height: 80px;
    width: 10px;
    background-color: rgb(85, 85, 253);
    position: absolute;
    left: 50%;
    top: 74%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    opacity: 0;
}

.my-shoot-animation {
    opacity: 1;
    animation: my-shoot 0.5s;
}

.my-expload {
    height: 300px;
    width: 300px;
    background-image: url("../imgs/exploade.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: my-expload 1s;
}

@keyframes my-expload {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

@keyframes my-shoot {
    0% {
        top: 70%;
    }
    100% {
        top: 10%;
    }
}