.mysheep {
    font-size: 100px;
    color: rgb(95, 176, 252);
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%) rotate(-44deg);
}

.shoot {
    height: 80px;
    width: 10px;
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 74%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    opacity: 0;
}

.shoot-animation {
    opacity: 1;
    animation: shoot 0.5s;
}

@keyframes shoot {
    0% {
        top: 74%;
    }
    100% {
        top: 10%;
    }
}